__pycache__
venv
.DS_Store
.env
serviceAccountKey.json
authenticate.py
creds.py


frontend/WellnessHub App.xcodeproj/xcuserdata/
frontend/WellnessHub App.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata
*xcuserdatad
*xcuserstate