
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decrease Weight Form</title>
</head>
<body>
    <h1>Enter Desired Weight Loss</h1>
    <form action="/decrease_weight" method="post">
        <label for="desired_weight_loss">Desired Weight Loss (kg):</label>
        <input type="text" name="desired_weight_loss" required><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
